{% extends "base.html" %}

{% block content %}
{% load staticfiles %}	
	
	{% block css %}
		<link rel="stylesheet" href="{% static 'css/mg_system2.css' %}" type="text/css">
    {% endblock %}
	<div class="continer">
		<header id="header2" class="navbar-fixed-top">
			<p id="core">Core labs+</p>
		</header>
		<div class="btn btn-default" id="management_button"><a href="user_account">My account</a></div>

		<div id="user_redirection">
			<ul>
				<li class="btn btn-default" id="balance_button"><a href="bitsa">Bitsa</a></li>
			</ul>

			<ul>
				<li class="btn btn-default" id="balance_button"><a href="user_deposit">Ayo wabikije</a></li>
			</ul>

			<ul>
				<li class="btn btn-default" id="balance_button"><a href="ayasohotse">Ayasohotse</a></li>
			</ul>
		</div>
			
		<div id="user_account_wrapper">
			<div id="user_account_content">
				<h4 id="slip_insertio_title">Aho kwinjiriza bordereau</h4>
				
				<form method="POST" action="shareholder_deposit" id="" enctype="multipart/form-data"> {% csrf_token %}
				<input type="hidden" id="" name="user_id" value="{{user.id}}" size="10">
					<div id="date">
						<ul>
							<li>
								<label for="Date">Date:</label>
								<input type="date" name="date" required>
							</li>
						</ul>
					</div>
					<div id="date">
						<ul>
							<li>
								<label for="Date">Depositor names:</label>
								<input type="text" name="depositor_names" value="{{user.first_name}} {{user.last_name}}" required>
							</li>
						</ul>
					</div>
					<div id="number_name_slip">
						<ul >
							<li>
								<label for="account_number">Account number:</label>
								<input type="text" name='account_number' value="{{bank_account.account_number}}" required>
							</li>
							<li>
								<label for="account_number">Account name:</label>
								<input type="text" name='account_name' value="{{bank_account.account_name}}" required>
							</li>
						</ul>
					</div>
					<div id="amount">
						<ul>
							<li>
								<label for="slip_number">Slip number:</label>
								<input type="text" id="slip_number" name="slip_number" required>
							</li>
						</ul>
					</div>
					<div id="amount">
						<ul>
							<li>
								<label for="amount">Deposited amount:</label>
								<input type="text" name="deposited_amount" required>
							</li>
						</ul>
					</div>
					<div id="number_of_months">
						<ul>
							<li>
								<div name="number_of_months" required>
									<label for="number_of_months">Period:</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Jan"> Jan
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Feb"> Feb
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Mar"> Mar
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Apr"> Apr
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="May"> May
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Jun"> Jun
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Jul"> Jul
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Aug"> Aug
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Sept"> Sept
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Oct"> Oct
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Nov"> Nov
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="" name="number_of_months" value="Dec"> Dec
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div id="comment">
						<ul>
							<li>
								<label for="comment">Comment:</label>
								<input type="text" name="comment" required>
							</li>
						</ul>
					</div>
					<div id="slip_picture">
						<ul>
							<li>
								<label for="">Slip-picture</label>
								<input type="file" class="" id="" name="slip_picture" required>
							</li>
						</ul>
					</div>
					<div  class="" id="submit_slip_button">
						<button type="submit" class="btn btn-default" id="submit_slip">Submit</button>
					</div>
				</form>
			</div>
		</div>	
	</div>
{% endblock %}