{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
	
	{% block css %}
		<link rel="stylesheet" href="{% static 'css/mg_system2.css' %}" type="text/css">
    {% endblock %}
	<div class="continer">
		<header id="header2" class="navbar-fixed-top">
			<p id="core">Core labs+</p>
		</header>
		
		<div class="btn btn-default" id="management_button"><a href="manager_account">Management</a></div>
		
		<div id="records_links">
		 	<ul>
				<li id="records_button">
					<form class="form-horizontal" method="POST" action="all_deposits">{% csrf_token %}
						<label for="Date" class="col-sm-1 control-label">From:</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" name="in_from_date" id="other_date" required>
						</div>
						<label for="Date" class="col-sm-1 control-label">To:</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" name="in_to_date" id="other_date" required>
						</div>
						<button type="submit" class="btn btn-default">Deposited</button>
					</form>
				</li>
			</ul>
			<ul>
				<li id="records_button">
					<form class="form-horizontal" method="POST" action="all_withdrawals">{% csrf_token %}
						<label for="Date" class="col-sm-1 control-label">From:</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" name="out_from_date" id="other_date" required>
						</div>
						<label for="Date" class="col-sm-1 control-label">To:</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" name="out_to_date" id="other_date" required>
						</div>
						<button type="submit" class="btn btn-default">Withdrew</button>
					</form>
				</li>
			</ul>
			<ul>
				<li class="btn btn-default" id="balance_button"><a href="balance">Balance</a></li>
			</ul>
		</div>
		<h5 id="in-out-operations">For specific bank account</h5>	
		<div>
			<ul>
				<label for="">Choose account:</label>
				{% for bank_acc in bank_account %}
				<li class="btn btn-default" id="balance_button"><a href="deposits_on_0{{bank_acc.id}}">{{bank_acc.account_name}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div id="user_account_wrapper">

			<div id="user_account_content">
				<h4 id="deposit_history2">Deposits</h4>
				<p id="table-title">Deposited by shareholders</p>
				<div class="table-responsive">
				<table class="table table-condensed table-striped table-bordered table-hover" >
					<thead>
						<tr>
							<th>Date</th>
							<th>Names</th>
							<th>Account No</th>
							<th>Account name</th>
							<th>Slip number</th>
							<th>Month</th>
							<th>Comment</th>
							<th class="text-center">Amount</th>
						</tr>
					</thead>

				{% for deposits in shareholders_deposits %}
					<tbody>
						<tr class="clickable-row" data-href='user-transaction-0{{deposits.id}}'>
							<td>{{deposits.trans_date}}</td>
							<td>{{deposits.depositor_name}}</td>
							<td>{{deposits.account_number}}</td>
							<td>{{deposits.account_name}}</td>
							<td>{{deposits.slip_number}}</td>
							<td>{{deposits.contribution_months}}</td>
							<td>{{deposits.trans_comment}}</td>
							<td class="text-right">{{deposits.money_in}}</td>
						</tr>
					</tbody>
				{% endfor %}

				</table>
				</div>
				<p id="table-title">Total: {{sum_shareholders_deposits}}Rwf</p>

				<p id="table-title">Deposited by others</p>
				<div class="table-responsive">
				<table class="table table-condensed table-striped table-bordered table-hover" >
					<thead>
						<tr>
							<th class="">Date</th>
							<th class="">Names</th>
							<th class="text-center">Cheque number/Bank</th>
							<th class="">Account No</th>
							<th class="">Account name</th>
							<th class="">Slip number</th>
							<th class="">Comment</th>
							<th class="text-center">Amount</th>
						</tr>
					</thead>

				{% for deposits in others_deposits %}
					<tbody>
						<tr class="clickable-row" data-href='in-transaction-0{{deposits.id}}'>
							<td class="">{{deposits.trans_date}}</td>
							<td class="">{{deposits.depositor_name}}</td>
							<td class="text-center">{{deposits.cheque_number}} / {{deposits.cheque_bank}}</td>
							<td class="">{{deposits.account_number}}</td>
							<td class="">{{deposits.account_name}}</td>
							<td class="">{{deposits.slip_number}}</td>
							<td class="">{{deposits.trans_comment}}</td>
							<td class="text-right">{{deposits.money_in}}</td>
						</tr>
					</tbody>
				{% endfor %}

				</table>
				</div>
				<p id="table-title">Total: {{sum_others_deposits}}Rwf</p>
				<p id="table-title"></p>
				<div id="balance-indicator">
					<p>Total Deposits: <span id="balance"> {{sum_in_time_range}}Rwf</span></p>
				</div>
			</div>
			<div class="btn btn-default" id="balance_button">
				<a href="javascript:getPDF()">Print</a>
			</div>
		</div>	

	</div>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/jspdf.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/pdf_renderer.js' %}"></script>
	<script>
		$(".clickable-row").click(function() {
        window.location = $(this).data("href");
    })
	</script>
{% endblock %}